*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(4.jpg);
	background-size: cover;
	background-position: center center;
	font-family: poppins;
	height: 100vh;
	font-weight: 600;
	font-size: 16px;
}
header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 70px;
}
.navbar{
	background-color: black;
	display: inline-block;
}
