*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(4.jpg);
	background-size: cover;
	background-position: center center;
	font-family: montserrat;
	height: 100vh;
	font-weight: 600;
	font-size: 16px;
}
header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 70px;

}
nav{
	background: #027245;
	height: 80px;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;


}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
}
a.active,a:hover{
	background: #1b9bff;
	transition: .3s;

}