<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1 align="center">Adding User</h1>
  <nav class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="addUser">Add User</a></li>
    <li><a href="/shop">Shop</a></li>
  </nav>

<br>
<br>

  <form th:action="@{/register}" method="post"; style="text-align: center;" autocomplete="off">
    <table class="table">
      <div>
        <label>ID</label>
        <div>
          <input type="text" name="id" placeholder="Enter Your id" required>
        </div>
      </div>
      <div>
        <label>NAME</label>
      </div>
      <div>
          <input type="text" name="name" placeholder="Enter Your name" required>
        </div>
      <div>
        <label>EMAIL</label>
      </div>
      <div>
          <input type="text" name="email" placeholder="Enter Your email" required>
        </div>
      <div>
        <label>Technology</label>
      </div>
      <div>
          <input type="text" name="tech" placeholder="Enter Your technology" required>
        </div>
    </table>
    <br>
    <div class="btn">
      <input type="submit" name="submit" value="SUBMIT" onclick="success()">
    </div>
  </form>

</body>
<script type="text/javascript" src="functions.js"></script>

</html>