<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome To Shop</title>
    <link rel="stylesheet" type="text/css" href="shop.css">
</head>
<body>
    <nav>
        <label class="logo">KH Mart</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Catagories</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </nav>

</body>
