<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Student</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <H2>Register Student</H2>

    <form>
        <div>
            <label>Name * :</label>
            <input type="text" placeholder="Enter Your Name" required>
        </div>
        <div>
            <label>UserName * :</label>
            <input type="text" placeholder="Enter Your Username" required>
        </div>
        <div>
            <label>Password * :</label>
            <input type="text" placeholder="Enter Your Password" required>
        </div>

        <div>
            <input type="submit" value="submit">
        </div>

    </form>

</body>
</html>